.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #F8C8DC;
    border-radius: 0.5rem;
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(255, 245, 238);
    transform: translateY(-0.2rem);
    transition: transform 0.2s ease-out;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #F8C8DC;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}
.correct {
    background-color: #90EE90;
}

.incorrect {
    background-color: #FF6347;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}
.hud-main-text {
    text-align: center;
}